/06Code/ApplianceStore V1.0/codecoffee/ApplianceStoreSimulator/build/
/06Code/ApplianceStore V1.0/codecoffee/ApplianceStoreSimulator/dist/
/06Code/ApplianceStore V1.0/codecoffee/ApplianceStoreSimulator/nbproject/private/
/06Code/ApplianceStore V1.0/ApplianceStoreSimulator/build/
/06Code/ApplianceStore V1.0/ApplianceStoreSimulator/dist/
/06Code/ApplianceStore V1.0/ApplianceStoreSimulator/nbproject/private/